<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/menu" />
    <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="/css/payor.css" asp-append-version="true" />
    <link rel="stylesheet" href="@Assets["EEMOCantilanSDS.Client.styles.css"]" />
    <link rel="stylesheet" href="/css/print.css" asp-append-version="true" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=DM+Sans:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <HeadOutlet />
</head>

<body data-enhance-nav="false">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/payor-hub.js"></script>
</body>

</html>
